h1{
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color: yellow;
  width: 80vw;
  align-self: center;
  margin-top: 3vh;
}
h2{
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
  width: 100vw;
  align-self: center;
  font-size: 3vh;
}
.div{
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 40%;
}

.button{
  background-color: rgba(0,0,0,0.7);
  color: aliceblue;
  margin-top: 15vh;
  height: 10vh;
  border-radius: 5vh;
  width: 30vh;
  align-self: center;
  font-size: 3vh;
  border-color: white;
}

.input{
  margin-top: 10vh;
  /* border-color: yellow; */
  height: 5vh;
  width: 85vw;
  border-radius: 1vw;
  font-size: 3vh;
  align-self: center;
  padding-left: 1vw;

}
